AWS_REGION=
AWS_S3_BUCKET=
REMOTIVE_API_URL=
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
AIRFLOW_SMTP_USER=
AIRFLOW_SMTP_PASSWORD=
AIRFLOW_ALERT_EMAIL=
AIRFLOW_UID=